Repository hackforla/ballotnav, pull requests merged in 2020-09, with the labels that each got.

#31 Finished hello world backend
  .gitignore
  backend/Dockerfile
  backend/README.md
  backend/app.py
  backend/dev.sh
  backend/requirements.txt
Labels: back end

#35 Scraper Folder
  scrapers/.gitkeep
  scrapers/selenium-base/Dockerfile
  scrapers/selenium-base/build.sh
  scrapers/selenium-base/run.sh
Labels: Scrapers

#106 ci: fix tagging on backend build
  .github/workflows/backend-build.yaml
Labels: CI, back end
